div.statistics section.ctn{
	width: calc(80% - 50px);
	margin:80px auto;
	height: 100%;
	position: relative;
}

div.statistics section.ctn div.panel{
	background-color: rgba(255,235,208,.65);
	position: fixed;
	width: calc(80% - 70px);
	height: calc(100% - 200px);
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,.4);
	overflow-y: auto;
}

@media screen and (max-width: 600px) {
  div.statistics section.ctn{
  	padding: 5px 5px 0px 5px;
  	width: calc(95% - 10px);
  }

  div.statistics section.ctn div.panel{
  	width: calc(95% - 20px);
  	left: 10px;
  }
}
