div.statistics section.ctn{
	width: calc(80% - 50px);
	margin:80px auto;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}


div.statistics section.ctn div.panel{
	background-color: rgba(255,235,208,.65);
	position: fixed;
	width: calc(80% - 70px);
	height: calc(100% - 220px);
	max-width: 700px;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,.4);
	overflow-y: auto;
	top:150px;
}

div.statistics section.ctn div.ctn-cantina{
	width: 100%;
	max-width: 700px;
	height: 50px;
}


div.statistics section.ctn  div.ctn-cantina select{
	width: 200px;
	border:2px solid #d48945;
	border-radius: 25px;
	height: 50px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-bottom: 20px;
}


div.statistics section.ctn div.panel input{
	width: 100px;
	height: 35px;
	border-radius:40px;
	border:2px solid #d48945;
	padding: 4px 10px;
	outline: none
}

div.statistics section.ctn div.panel section.ctn-shopping{
	padding-bottom: 20px;
	border-bottom:1px solid #eea587;

}

div.statistics section.ctn div.panel div.cnt-vouched{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-top: 10px;
}

div.statistics section.ctn div.panel div.ctn-grid{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	justify-content:center;
}
div.statistics section.ctn div.panel div.ctn-grid div{
	text-transform: capitalize;
	padding: 0 5px;
}
div.statistics section.ctn div.panel div.ctn-grid div.right{
	width: 75px;
	display: flex;
	justify-content: flex-end;
}

div.statistics section.ctn div.panel div.ctn-grid div.left{
	width: 40px;
}
div.statistics section.ctn div.panel div.ctn-grid div.center{
	display: flex;
	flex:1;
	justify-content: center;
}

div.statistics section.ctn div.panel div.total{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top:20px;
}

div.statistics section.ctn div.panel div.total span{
	padding-right: 5px;
	font-size: 1.1em;
	font-weight: bold;
	width: 90px;
	text-align: right;
	padding-top: 10px;
	border-top:1px solid #c5bbac;
}

div.statistics section.ctn div.panel div.btn-more{
	width: 100%;
	position:fixed;
	bottom:0px;
	display: flex;
	justify-content: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  div.statistics section.ctn{
  	padding: 5px 5px 0px 5px;
  	width: calc(95% - 10px);
  }

  div.statistics section.ctn div.panel{
  	width: calc(95% - 20px);
  	left: 10px;
  }
}
