div.history section.ctn{
	width: calc(80% - 50px);
	margin:80px auto;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

div.history section.ctn div.panel{
	background-color: rgba(255,235,208,.65);
	position: fixed;
	top:150px;
	width: calc(80% - 70px);
	height: calc(100% - 210px);
	max-width: 700px;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,.4);
	overflow-y: auto;
}

div.history section.ctn div.panel section.ctn-shopping{
	padding-bottom: 20px;
	border-bottom:1px solid #eea587;

}

div.history section.ctn div.panel div.cnt-vouched{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-top: 10px;
}

div.history section.ctn div.panel div.ctn-grid{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	justify-content:center;
}
div.history section.ctn div.panel div.ctn-grid div{
	text-transform: capitalize;
	padding: 0 5px;
}
div.history section.ctn div.panel div.ctn-grid div.right{
	width: 75px;
	display: flex;
	justify-content: flex-end;
}

div.history section.ctn div.panel div.ctn-grid div.left{
	width: 40px;
}
div.history section.ctn div.panel div.ctn-grid div.center{
	display: flex;
	flex:1;
	justify-content: center;
}

div.history section.ctn div.panel div.btn-more{
	width: 100%;
	position:fixed;
	bottom:0px;
	display: flex;
	justify-content: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  div.history section.ctn{
  	padding: 5px 5px 0px 5px;
  	width: calc(95% - 10px);
  	margin:60px auto;
  }
   div.history section.ctn div.panel{
  	width: calc(95% - 20px);
  	left: 10px;
  }
 }
