div.add-products section.ctn{
	width: calc(70% - 50px);
	padding: 5px 25px 0px 25px;
	margin:100px auto;
}

div.add-products section.ctn  div.ctn-date{
	display: flex;
	flex-direction: row;
	padding: 0 10px;
}

div.add-products section.ctn div.ctn-date >div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 56px;
	width: 57px;
	height:50px;
	border-radius: 5px;
	background-color: rgba(252,180,160,0.45);
	text-transform: capitalize;
	cursor: pointer;
	margin-right: 15px;
	color:#e2474b;
	font-weight: bold;
	font-size: 1.1em
}


/*modal-add-product*/

div.add-products div.modal-add-product{
	display:flex;
	background-color:rgba(252,180,160,0.45);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	bottom:0;
	z-index: 10000;
	overflow-y: auto;
}


div.add-products div.modal-add-product .form-control{
	background-color: #f7f3f0;
	width: calc(80% - 50px);
	border-radius: 20px;
	padding: 5px 25px 30px 25px;
	max-width: 260px;
	position: relative;
	box-shadow: 0 0 4px #737373;
	position: relative;
}

div.add-products div.modal-add-product .form-control div.icon-close{
	width: 30px;
	height: 30px;
	background-color: white;
	position: absolute;
	top: -7px;
	right: -7px;
	border-radius: 50%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}


div.add-products div.modal-add-product .form-control div.ctn-img{
	width: 100%;
	height: 150px;
	border-radius: 10px;
	position: relative;	
}

div.add-products div.modal-add-product .form-control div.ctn-img div.price{
	position: absolute;
	bottom:10px;
	left:10px;
	background-color: #eea587;
	color:white;
	border-radius: 20px;
	padding: 5px 20px;
	font-weight: bold;
}

div.add-products div.modal-add-product .form-control div.ctn-img img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

div.add-products div.modal-add-product .form-control div.ctn-input{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
div.add-products div.modal-add-product .form-control div.ctn-input div{
	display: flex;
	flex:1;
	background-color: #f1f1f1;
	height: 30px;
	border:1px;
	border-radius: 5px;
	border:1px solid #c7c7c7;
	color:#e2474b;
	align-items: center;
	justify-content: center;
}

div.add-products div.modal-add-product .form-control div.ctn-btn{
	display: flex;
	flex:1;
	width: 100%;
	justify-content: center;
	align-items: center;
}

/*ct-product*/

div.add-products section.panel > div.ctn-product {
	display: flex;
	margin-top:10px;
}

div.add-products section.panel > div.ctn-product div.type {
	background-color: rgba(252,180,160,0.45);
	margin:0 10px;
	min-width: 90px;
	height: 53px;
	margin-top:2px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#e2474b;
}

div.add-products section.panel > div.ctn-product div.type span{
	font-weight: bold;
	font-size: 1.1em;
}

div.add-products section.panel > div.ctn-product div.item-product{
	max-width: 100%;
	width: auto;
	height: 57px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
}

div.add-products section.panel > div.ctn-product div.product{
	min-width: 55px;
	max-width: 55px;
	width: 55px;
	height: 57px;
	border-radius: 10px;
	background-color: white;
	margin-right: 7.5px;
	cursor: pointer;
}

div.add-products section.panel > div.ctn-product  div.add-product{
	display: flex;
	min-width: 55px;
	height: 58px;
	background-color: #e44a4c;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	color:white;
	cursor: pointer;
	margin-left: 5px;
}

div.add-products section.panel > div.ctn-product  div.add-product span{
	font-size: 2em;
	font-weight: bold;
}

div.add-products section.panel > div.ctn-product div.product img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 1px rgba(0,0,0,.5)
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
  div.add-products section.ctn{
  	padding: 5px 5px 0px 5px;
  	width: calc(95% - 10px);
  }
}
